<div class="pagination">
    <span class="step-links">
        <script type="text/javascript">
            function to_page() {
                var to_page = document.getElementById("to_page").value;
                if (to_page <= {{ page_obj.paginator.num_pages }}){
                    window.location.href = "?page="+to_page;
                }
                else {
                    alert("Такой страницы нет");
                }
            }
        </script>
        <a href="?page=1">&laquo; В начало</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% else %}
            <span class="page-disabled">Назад</span>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Далее</a>
        {% else %}
            <span class="page-disabled">Далее</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>

        <label> Переход к странице <input type="number" id="to_page" name="to_page"></label>
        <a href="#" onclick="to_page();return false">Переход</a>

    </span>
</div>