{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Статьи:</h1>
    {% csrf_token %}
    <div class="card-deck text-center">
            {% for article in object_list %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ article.title }}</h5>
                      <p class="card-text">Автор : {{ article.author }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                          <a href="{% url 'article_view' article.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                          <a href="{% url 'article_edit' article.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                          {% if not article.comments.count %}
                          <a href="{% url 'article_delete' article.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                          {% else %}
                          <a href="{% url 'article_delete' article.pk %}" class="btn btn-info disabled" style="width: 40px"><span class="fa fa-trash"></span></a>
                          {% endif %}
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<a href="{% url 'article_new' %}" class="button2" tabindex="0">+</a>
{% endblock %}