{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Комментарии:</h1>
    {% csrf_token %}
    <div class="card-deck text-center">
            {% for comments in object_list|dictsortreversed:"created_at" %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">К статье: <a href="{% url 'article_view' comments.article_id %}"> {{ comments.article }}</a></h5>
                      <p class="card-text">Автор : {{ comments.author }}</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                          <a href="{% url 'comments_view' comments.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                          <a href="{% url 'comments_edit' comments.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                          <a href="{% url 'comments_delete' comments.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<a href="{% url 'comments_new' %}" class="button2" tabindex="0">+</a>
{% endblock %}